/*
	NOTE: If you use Google fonts, import it here. Don't include the http bit then it's safe across secure too
	@import url(//fonts.googleapis.com/css?family=Paytone+One;
*/

/*
Font weights set as variables because sometimes there are multiple weights,
so an example use might also be a variable of $mid-weight: 500;
If you've just got normal and bold, you don't need the variable.
*/

/* Google Fonts ---------------------------------- */
@import url(//fonts.googleapis.com/css?family=Lato:300,400,700,400italic);

$normal: normal;
$bold: bold;

html {
    font-size: 100%;
}

body {
    @include font-size(1,1.5);
    font-family: 'Lato', Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	@include font-size(1.5, 1.75);
	line-height: normal;
}
	h1 { 
		@include font-size(2.5, 3); 
		color: $blue; 
		text-transform: uppercase; 
		font-weight: 300; 
	}
    h2 {
	    color: #373c4f;
	    font-weight: 400;
    }
    h3 {}
    h4 {}
    h5 {}
    h6 {}

p {
	@include font-size(.875);
	line-height: 2em;
}

a {
	@include hover-fade;
	color: $red;
	
	&:hover,
    &:active {
        outline: 0;
        color: lighten($red, 10%);
		}
	}

a:focus {
    outline: thin dotted;
    }

strong, b {
	font-weight: $bold;
	}

.small {
	@include font-size(.75, 1.25);
	}

pre, code {
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal;
	}

blockquote {

    cite {

        }
    }