/* ==============================================================
	Header
================================================================= */

header {
	@extend %clearfix;
	background: #171a26;
	
	.logo {
		@extend %ir;
		display: block;
		float: left;
		width: 54px;
		height: 54px;
		margin: 12px 0 0;
		background: url('../img/l_sg.png') no-repeat;
	}
	
	nav {
		float: right;
		
		li {
			margin-left: 30px;			
		}
		
		a {
			padding: 2em 1.5em;
			
			&:hover {
				background: #000;
			}			
		}
	}
}