/*

    SITEWIDE LAYOUT ELEMENTS
    ========================

    Top level layout elements go in here, if you're building a module or page
    element of some sort, split it out into its own scss file and update
    styles.scss to import it.

*/

body {
    padding: 0;
    margin: 0 auto;
    width: 100%;
    }

ul, ol {
    margin: 0 0 1.5em 1.5em;
    }

li {
    > ul,
    > ol {
         margin-bottom:0;
         }
    }

img,
a img {
    -ms-interpolation-mode: bicubic;
    max-width: 100%;
    min-height: auto;
    vertical-align: middle;
    }

figure, img {

    }

figure {

    figcaption {

        }
    }
    
article {
	@extend %clearfix;
}
    
section {
	@extend %clearfix;
	
	&.primary {
		margin: 0 0 2em;
		
		@include bp-l {
			float: right;
			width: 70%;			
		}
	}
}

.secondary-content {
	
	@include bp-l {
		float: left;
		width: 30%;	
		position: relative;
		top: -115px;
		left: 0;
		text-align: center;		
	}
}

.wrap {
	width: 95%;
	margin: 0 auto;
	
	@include bp-l {
		max-width: 960px;
	}
}