// This is where you can put any styles specific to a page
// .page is the class WordPress outputs to the body tag

/* Top Banner ----------------------- */

.banner {	
	min-height: 75px;
	padding: 2em 0;
	background: url('../img/bg_home.jpg') no-repeat;
	background-size: cover;
	
	@include bp-l {
		background-position: 0 -100px;		
	}
	
	@include bp-xl {
		background-size: 100% auto;
	}	
	
	.intro {
		text-align: center;
		
		@include bp-l {
			float: right;
			width: 70%;
			text-align: left;
		}
	}
	
	.subtitle {
		@include font-size(1);
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 4px;
		color: $yellow;
		
		@include bp-m {
			@include font-size(1.3125);
			letter-spacing: 8px;
		}
	}	
	
	p {
		color: #fff;
	}
}

.page {
	
	.primary {
		
		ul {
			@include font-size(.875);
		}
	}
	
	blockquote {
		color: #848484;
		font-style: italic;
		
		p {
			@include font-size(1.5);
		}
		
		cite {
			display: block;
			margin: .5em 0 0;
			font-style: normal;
			color: $red;
		}
	}
	
}


/* Sidebar ---------------------------- */

aside {
	text-align: center;
	
	.social {
		margin: 1em auto;
		padding: 0;
		
		li {
			display: inline-block;
			margin: 0 3px;
		}
		
		a {
			display: block;
		}
	}
	
	.links {
		width: 60%;
		margin: 0 auto;
		padding: 0;
		list-style: none;
		
		li {
			border-bottom: 1px solid #d9d9d9;			
		}
		
		a {
			display: block;
			padding: .5em 0;
			@include font-size(.8125);
			font-weight: 700;
			text-decoration: none;
			text-transform: uppercase;
			color: #666666;
			
			&:hover {
				color: $red;
			}
		}
	}
	
}

/* Paper List ------------------------------------ */

.paper-list {
	margin: 0;
	padding: 0;
	list-style: none;
	
	.paper {
		
		p {
			@include font-size(1);
			margin-bottom: .5em;
		}
	}
	
	.abstract {
		display: none;
		margin: 1em 0 1em 1em;
		@include font-size(1);
		color: #666666;
	}
}